__pycache__/conf.cpython-310.pyc
__pycache__/winLib.cpython-310.pyc
config/config.ini
__pycache__/tmpMem.cpython-310.pyc
2024-02-09 09-26daneObiektow.csv
daneObiektow.csv
backup/dataBackup.txt
__pycache__/conf.cpython-312.pyc
__pycache__/tmpMem.cpython-312.pyc
__pycache__/winLib.cpython-312.pyc
